<html>
  <head>
    <title>Sign in</title>
  </head>
  <body>
    <script src="static/js/fb_sdk.js"></script>
    <script src="static/js/fb_login.js"></script>

    <fb:login-button
      scope="public_profile,email"
      onlogin="checkLoginState();">
    </fb:login-button>
    <button type="button" onclick="location.replace('https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=1655960805&redirect_uri=https://localhost&state=test1234&scope=profile%20openid')"> Line Login</button>
    <form action={{url_for("register")}} method="POST">
      <p style="color:red;">{{error}}</p>
      <div class="form-group">
          <label for="InputUser">User Name</label>
          <input type="text" name="username" id="username" placeholder="username">
      </div>
      <div class="form-group">
          <label for="InputPassword">Password</label>
          <input type="password"  name="password" id="password" placeholder="password">
      </div>
      <button type="submit">Register</button>
    </form>
  </body>
</html>